*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --bg-color: #fff;
    --text-color: #000;
}

[data-theme=dark] {

    --all-bg: #000;
    --all-color: #fff;
    
   }

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}



.mainTitle{
    text-align: center;
}


.mainTitle::after{
    content: '';
    display: block;
    width: 1500.0252423px;
    height: 2px;
    background-color: #02f869;
    margin: 10px auto;
}

h2{
    font-size: 2rem;
    margin: 20px 0;
    color: var(--text-color);
}

a{
    text-decoration: none;
    color: var(--text-color);
}



