*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --bg-color: #fff;
    --text-color: #000;
}

[data-theme=dark] {

    --all-bg: #000;
    --all-color: #fff;
    
   }

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}



.mainTitle{
    text-align: center;
}


.mainTitle::after{
    content: '';
    display: block;
    width: 500.0252423px;
    height: 2px;
    background-color: #02f869;
    margin: 10px auto;
}

h2{
    font-size: 2rem;
    margin: 20px 0;
    color: var(--text-color);
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.smallLink::before{
    content: '';
    display: block;
    width: 150.0252423px;
    height: 2px;
    background-color: #02f869;
    margin: 10px auto;
}

/************footer**************/
.footer {
    background-color: rgba(0,0,0,0.6629026610644257);
    color: white;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    top: 100%;
    width: 100%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    
}

.bg{
    background: var(--gradient);
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}

.footer::after{
    content: "©POSPAK 65 2024";
    display: block;
    color: white;
    width: auto;
    height: auto;
    background: transparent;
    top: 5px;
    margin: 0 auto;
}

.social-links {
    margin-bottom: 10px;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
    width: 32px;
    height: 32px;
}

/* .footer-text {
    font-size: 0.8rem;
    margin-top: 10px;
    color: white;
} */



